<div class="header-container">
    <div class="logo">
        <ul>
            <li class="G">G</li>
            <li class="o">o</li>
            <li class="o-">o</li>
            <li class="g">g</li>
            <li class="l">l</li>
            <li class="e">e</li>
        </ul>
    </div>
    <h1 class="second-section">
        <span>Account recovery</span>
    </h1>
    <form>
        <div class="input-field">
            <p>
                <mat-form-field appearance="outline" style="width: 310px; margin-left: 50px;">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="New Password" type="password" formControlName="password"
                        class="form-control">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" style="width: 310px; margin-left: 50px;">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword"
                        class="form-control">
                    <mat-hint>At least 8 charecters</mat-hint>

                </mat-form-field>
            </p>

        </div>
        <div class="submit-field">
            <div class="sign">
                <h3><a class="link">Try another way</a></h3>
            </div>
            <div>
                <button class="button">Next</button>
            </div>
        </div>
    </form>

</div>