.header-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 1px solid rgb(236 224 224);
    box-shadow: 1px 1px 1px rgb(240, 236, 236);
    position: relative;
    left: 450px;
    top: 80px;
    height: 430px;
    border-radius: 10px;
    width: 400px;

}

.logo ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    font-size: 2rem;
    justify-content: center;
    width: 350px;

}

.G {
    color: rgb(20, 164, 221);
}

.o {
    color: red;
}

.o- {
    color: yellow;
}

.g {
    color: rgb(9, 167, 229);
}

.l {
    color: green;
}

.e {
    color: red;
}

.second-section {
    color: #202124;
    font-size: 24px;
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-weight: 400;
    margin-left: 30px;
    bottom: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 350px;
}

.submit-field {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 110px;
    width: 350px;
    margin-left: 25px;
    height: 50px;
}

.button {
    border-radius: .5rem;
    background-color: #1a73e8;
    color: #FFFFFF;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 25px;
    cursor: pointer;
    height: 40px;
    position: relative;
    bottom: 35px;
    border: 0;
}

.input-field {
    margin: 0rem;
    font-size: 14px;
    height: 150px;
    width: 200px;
    padding: 7px 9px;
    margin-bottom: -1rem;
    margin-left: -12px;
}

.sign{
    position: relative;
    width: 280px;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 1px;
}

.link {
    color: #1a73e8;
    text-decoration: none;
    cursor: pointer;
    font-family: monospace;
    font-size: 18px;
    padding: 10px 10px 8px;
    font-size: 33;
}