<div class="header-container">
    <div class="logo">
        <ul>
            <li class="G">G</li>
            <li class="o">o</li>
            <li class="o-">o</li>
            <li class="g">g</li>
            <li class="l">l</li>
            <li class="e">e</li>
        </ul>
    </div>
    <h1 class="second-section">
        <span>Sign In</span>
    </h1>
    <div class="third-section">
        <span>Use your Google Account</span>
    </div>
    <form >

        <div class="form-field">
            <div class="input-field">
                <mat-form-field appearance="outline" style="width: 350px; margin-left: 30px;">
                    <mat-label>Email or phone</mat-label>
                    <input matInput placeholder="email" type="text" formControlName="email" style="width: 100%;">
                </mat-form-field>
            </div>
           
            <div class="login">
                <a  href="">forget email?</a>
            </div>
            <div class="msg-field">
                Not your computer? Use Guest mode to sign in privately.
                <a href="#" class="link">Learn More</a>
            </div>
            <div class="submit-field">
                <div class="sign">
                    <h3><a  class="link">Create account</a></h3>
                </div>
                <div>
                    <button  class="button">Next</button>
                </div>
            </div>
        </div>
    </form>
</div>