<div class="header-container">
    <div class="form-container">
        <div class="logo">
            <ul>
                <li class="G">G</li>
                <li class="o">o</li>
                <li class="o-">o</li>
                <li class="g">g</li>
                <li class="l">l</li>
                <li class="e">e</li>
            </ul>
        </div>
        <div class="form-block">
            <div class="header-name">
                <h1>Create your Google Account</h1>
            </div>
                <form [formGroup]="signupForm" (ngSubmit)="signup()">
                <div class="name-block">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="FirstName" type="text" formControlName="firstName">
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width: 195px;">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="LastName" type="text" formControlName="lastName">
                    </mat-form-field>
                </div>
                <div class="email-container">
                    <mat-form-field class="email-field" appearance="outline" style="width: 95%;">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter Email" type="text" formControlName="email">
                        <mat-hint>You can use latters,number & periods</mat-hint>
                    </mat-form-field>
                </div>
                <div class="mail-msg">
                    <h3><a href="#" class="link">Use my current email address instead</a></h3>
                </div>
                <div class="password-field">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter Password" type="password" formControlName="password">
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width: 195px;">
                        <mat-label>Confirm</mat-label>
                        <input matInput placeholder="Enter Confirm" type="text" formControlName="confirmPassword">

                    </mat-form-field>
                </div>
                <div class="pass-msg">
                    <p>Use 8 or more characters with a mix of letters, numbers & </p>
                    <p> symbols</p>
                </div>
                <div class="check">
                    <input type="checkbox"> show password
                </div>
              <div class="submit-field">
                <div class="sign">
                    <h3><a  href="">Sign in instead</a></h3>
                  </div>
                  <div>
                    <button class="button" >Next</button>        
                   </div> 
            </div>
            </form>
        </div>
        <div class="logo-block">
            <figure class="img">
                <img src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" alt width="244" height="244">
                <figcaption class="caption">One account. All of Google working for you.</figcaption>
            </figure>
        </div>
    </div>
